@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 64px; /* Ajusta este valor según la altura de tu header */
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .dark {
    @apply bg-gray-900 text-gray-100;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll linear infinite;
}

